<h1><p>Olá {{user.name}} {{user.surname}}, seja bem vindo!</p></h1>

<nav>
    <h3>Menu lateral</h3>
    <ul>
        <li>Home</li>
        <li>Contatos</li>
        <li>Portifólio</li>
        <li>lalala</li>
    </ul>
</nav>
<main>
    
    
    <p>Você tem {{user.idade}} anos!</p>
    <p>{{frase}}</p>
</main>
<footer>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quae iure corrupti magnam accusantium consectetur id, non mollitia sunt quos illum, odio provident excepturi perferendis! 
    Exercitationem itaque nisi pariatur magnam?</p>
</footer>