h1{
    color: red;
}
h2{
    color: blue;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
li a{
      text-decoration: none;
  
}
nav{
    display: flex;
    flex-direction: column;
    background-color: green;

}
p{
    color: purple;
}