<h1>Olá Handlebars</h1>
<ul>
    <li><a href="/">Voltar</a></li>
    <li><a href="/blogpost">Ver comentários</a></li>
    <li><a href="/blog">Ver blog</a></li>
</ul>
 
<nav>
    <h3>Menu lateral</h3>
   
</nav>
<main>
    
    {{{body}}}
    
    
</main>
<footer>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quae iure corrupti magnam accusantium consectetur id, non mollitia sunt quos illum, odio provident excepturi perferendis! 
    Exercitationem itaque nisi pariatur magnam?</p>
</footer>