body{
    box-sizing: border-box;
    background-color: #383838;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2em;
    color: white;
}
form{
    display: flex;
    gap: 2px;
    flex-direction: column;
    border: none;
    border-radius: 4px;
}
#erro{
border: red solid 5px;
align-self: center;
}