<h1>Olá Handlebars</h1>

<nav>
    <h3>Menu lateral</h3>
    <ul>
        <li>Home</li>
        <li>Contatos</li>
        <li>Portifólio</li>
        <li>lalala</li>
    </ul>
</nav>
<main>
    
    {{{body}}}
    
    
</main>
<footer>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quae iure corrupti magnam accusantium consectetur id, non mollitia sunt quos illum, odio provident excepturi perferendis! 
    Exercitationem itaque nisi pariatur magnam?</p>
</footer>