<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pet It!</title>
</head>
<body>
    <div class="container">
    <header>
        <h1 class="titulo">Lojas Pet it!</h1>
       <br><p class="titulo">{{mensagem.boasVindas}} </p>
       <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Voltar</a></li>
        </ul>
        </nav>
    </header>
<section>

    <main>
       
        {{{body}}}
    </main>

 </section>   
<footer>
    
</footer>
</div>
</body>
</html>